#page-login {
    width: 100vw;
    height: 100vh;
}

.logo-container {
    flex-direction: column;
    display: inline-block;
    line-height: initial;
    padding-left: 10vw;
    text-align: left
}

.card {
   /* padding: 30px; */
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    display: flex; 
    align-self: flex-start;
    justify-content: center;
    align-content: center;
    align-items: center;
}


@media (min-width: 960px) {
    #page-login {
        max-width: 1250px;
        /* max-height: 700px; */

        display: grid;
        grid-template-columns: 1.15fr 0.85fr;
        grid-template-areas: 
            "logo card"
        ;
    }

    .logo-container {
        width: 100%;
        grid-area: logo;
        align-self: center;
    }

    .logo-container img{
        margin-bottom: 30px;
        align-self: initial;
    }

    .logo-container h1{
        align-self: center;
    }

    .card {
        grid-area: card;
        height: 100%;
        width: 100%;
        min-width: 550px;
    }


}